body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body: Poppins;
  --heading-002: "Satoshi Variable";

  /* font sizes */
  --body-size: 16px;
  --heading-003-size: 18px;
  --heading-002-size: 48px;
  --pre-header-size: 14px;
  --font-size-mini-5: 14.5px;
  --heading-001-size: 50px;

  /* Colors */
  --foundation-neutral-n0: #fff;
  --foundation-purple-p300: #4716ba;
  --foundation-neutral-n300: #5e596c;
  --color-black: #000;
  --foundation-neutral-n700: #261f39;
  --foundation-neutral-n900: #1a2237;
  --foundation-purple-p50: #ede8f8;
  --foundation-pink-p50: #fdecf3;
  --foundation-yellow-y50: #fef8e7;
  --foundation-neutral-n20: #f5f5f6;
  --color-mediumslateblue: #8d7afa;

  /* Gaps */
  --gap-16xl: 35px;
  --gap-5xs: 8px;
  --gap-51xl: 70px;
  --gap-base: 16px;
  --gap-3xs: 10px;
  --gap-7xs: 6px;
  --gap-xl: 20px;
  --gap-11xl: 30px;
  --gap-26xl: 45px;
  --gap-smi-9: 12.9px;

  /* Paddings */
  --padding-81xl: 100px;
  --padding-131xl: 150px;
  --padding-6xl: 25px;
  --padding-base: 16px;
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-smi-8: 12.8px;
  --padding-9xs: 4px;

  /* border radiuses */
  --br-181xl: 200px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-6xs-4: 6.4px;
  --br-base-1: 16.1px;
  --br-81xl: 100px;
}
